.preview-viewer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  background: #161616;
}

.file-preview-controls {
  position: absolute;
  right: 6px;
  top: 6px;
}

.file-preview-status {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.file-preview {
  position: relative;
}
