<ion-content>
  <div class="login-card-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="loginDetails.UsernameOrEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input [(ngModel)]="loginDetails.Password" [type]="'password'"></ion-input>
        </ion-item>
        <p class="text-danger" style="margin-top: 10px;" *ngIf="lastError">{{lastError}}</p>
        <ion-button (click)="login()" [disabled]="busy" class="login-card-button">Login</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
