.login-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-card {
    width: 100%;
    max-width: 576px;
  }

  .login-card-button {
    width: 100%;
    margin-top: 30px;
    height: 50px;
    font-weight: bold;
  }
}

.text-danger {
  color: rgb(245, 104, 104);
}
