<app-save-dialog-scaffold [title]="data ? 'Update ' : 'Create ' + 'Media Center'" [buttonConfig]="buttonConfig">
  <form style="height: 100%">
    <mat-grid-list *ngIf="page === 'details'" cols="2" rowHeight="2:2" [gutterSize]="'30'">
      <mat-grid-tile>
        <div class="expand center-y">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="expand center-y">
          <app-file-uploader [allowedTypes]="['image/png', 'image/jpeg']"></app-file-uploader>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list *ngIf="page === 'content'" cols="2" rowHeight="2:2">
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </form>
</app-save-dialog-scaffold>
