<ng-template #galleryPreview let-item let-i="i">
  <div class="gallery-preview">
    <div class="gallery-preview-controls">
      <button class="round-btn-small" title="Remove Gallery Item" matRipple type="button"
        (click)="removeGalleryItem(i)">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </div>
    <ng-container *ngIf="item.imageUrl">
      <img class="fill-img square" [src]="item.imageUrl" alt="">
    </ng-container>
    <ng-container *ngIf="item.ytLink">
      <div class="square center-y">
        <app-youtube-player [youtubeLink]="item.ytLink"></app-youtube-player>
      </div>
    </ng-container>
  </div>
</ng-template>

<app-save-dialog-scaffold [title]="(data ? 'Update ' : 'Create ') + 'Media Center'" [buttonConfig]="[]">
  <div class="dialog-content-wrapper pt-10">
    <form #mediaForm="ngForm" (ngSubmit)="save()">

      <div *ngIf="page === 'details'" class="split-2">
        <div class="expand split-col">
          <ion-text>
            <h2>Add Details</h2>
          </ion-text>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="mediaCenter.title" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" name="date" [ngModel]="mediaCenter.date | date:'yyyy-MM-dd'"
              (ngModelChange)="mediaCenter.date = $event">
          </mat-form-field>
        </div>
        <div class="expand split-col">
          <ion-text>
            <h2>{{data ? 'Update' : 'Add'}} Cover Image</h2>
          </ion-text>

          <app-file-uploader name="coverImage" [multiple]="false" [allowedTypes]="['image/png', 'image/jpeg']" required
            #cover="ngModel" [ngModel]="selectedImage ? [selectedImage] : []"
            (ngModelChange)="selectedImage = $event[0] ? $event[0] : null">
          </app-file-uploader>
          <div *ngIf="data && mediaCenter.imageUrl && !selectedImage">
            <img class="preview-img" [src]="mediaCenter.imageUrl" alt="">
          </div>
        </div>
      </div>
      <div *ngIf="page === 'content'">

        <mat-tab-group dynamicHeight [selectedIndex]="data ? 0 : 1">
          <mat-tab *ngIf="data" label="Manage Content">
            <div class="px-15">
              <ion-text>
                <h2>Manage Content</h2>
              </ion-text>
              <div class="lg-hide grid-view grid-view-sm-1 grid-view-md-2">
                <div *ngFor="let item of mediaCenter.gallery; let i = index">
                  <ng-container *ngTemplateOutlet="galleryPreview; context: {$implicit: item, i}"></ng-container>
                </div>
              </div>
              <div cdkDropListGroup class="lg-show grid-view grid-view-sm-1 grid-view-md-2">
                <div *ngFor="let item of mediaCenter.gallery; let i = index" cdkDropList cdkDrag [cdkDropListData]="i">
                  <div class="cursor-move" cdkDrag [cdkDragData]="i" (cdkDragEntered)="entered($event)">
                    <div *cdkDragPlaceholder></div>
                    <ng-container *ngTemplateOutlet="galleryPreview; context: {$implicit: item, i}"></ng-container>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Add Content">
            <div class="split-2 mat-tab-fix">
              <div class="expand split-col">
                <ion-text>
                  <h2>Add Gallery Images</h2>
                </ion-text>
                <app-file-uploader name="galleryImages" [multiple]="true" [allowedTypes]="['image/png', 'image/jpeg']"
                  required #galleryImagesInput="ngModel" [(ngModel)]="galleryImages">
                </app-file-uploader>
              </div>
              <div class="expand split-col">
                <ion-text>
                  <h2>Add YouTube links</h2>
                </ion-text>
                <ul class="yt-links-list">
                  <li *ngFor="let link of ytLinksToAdd">
                    <form>
                      <div class="yt-link-group">
                        <mat-form-field appearance="outline">
                          <mat-label>YouTube Link</mat-label>
                          <input matInput>
                        </mat-form-field>
                        <button type="button" mat-button color="warn" (click)="removeLink(link)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </form>
                  </li>
                </ul>
                <button type="button" mat-button color="primary" (click)="ytLinksToAdd.push('')">
                  <mat-icon>video_library</mat-icon> <span style="margin-left: 10px;">Add YouTube Link</span>
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </div>
  <ng-container ngProjectAs='[footer]'>
    <ion-buttons slot="end">
      <ion-button *ngIf="this.page === 'details'" [size]="'large'" [fill]="'clear'" [color]="'medium'"
        (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button *ngIf="this.page === 'content'" [size]="'large'" [fill]="'clear'" [color]="''"
        (click)="page = 'details'">
        Back
      </ion-button>
      <ion-button *ngIf="this.page === 'details'" [disabled]="!mediaCenter.title.trim()" [size]="'large'"
        [fill]="'solid'" [color]="'primary'" (click)="page = 'content'">
        Next
      </ion-button>
      <ion-button *ngIf="this.page === 'content'" [disabled]="mediaForm.invalid" [size]="'large'" [fill]="'solid'"
        [color]="'primary'" (click)="mediaForm.ngSubmit.emit()">
        Save
      </ion-button>
    </ion-buttons>
  </ng-container>
</app-save-dialog-scaffold>
