<input #fileInput [multiple]="multiple" [accept]="allowedTypes.length ? allowedTypes.join(',') : '*'" [hidden]="true"
  type="file" (change)="addFilesFromInput($event)">

<div filesDrop matRipple (click)="fileInput.click()" (fileDropped)="addFiles($event)">
  <p>Click to upload file or drop files here</p>
</div>

<ng-container *ngIf="!multiple">
  <ng-container *ngFor="let f of files; let i = index">
    <app-file-preview *ngIf="i === 0" (delete)="removeFile(0)" [file]="f"></app-file-preview>
  </ng-container>
</ng-container>
<div *ngIf="multiple" cdkDropListGroup class="files-list">
  <div cdkDropList [cdkDropListData]="i" class="preview-card" *ngFor="let f of files; let i = index" cdkDrag>

    <!-- <div class="preview-card-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div> -->
    <app-file-preview [file]="f" (delete)="removeFile(i)" cdkDrag [cdkDragData]="i" (cdkDragEntered)="entered($event)">
    </app-file-preview>
  </div>
</div>
