<div [class.file-upload-disabled]="disabled">
  <input #fileInput [multiple]="multiple" [accept]="allowedTypes.length ? allowedTypes.join(',') : '*'" [hidden]="true"
    type="file" (change)="addFilesFromInput($event)">

  <div filesDrop matRipple (click)="fileInput.click()" (fileDropped)="addFiles($event)">
    <p *ngIf="multiple">Click to upload files or drop files here</p>
    <p *ngIf="!multiple">Click to upload file or drop a file here</p>
  </div>

  <ng-container *ngIf="!multiple">
    <ng-container *ngFor="let f of files; let i = index">
      <app-file-preview *ngIf="i === 0" (delete)="removeFile(0)" [file]="f"></app-file-preview>
    </ng-container>
  </ng-container>
  <div *ngIf="multiple" cdkDropListGroup class="files-list">
    <div cdkDropList [cdkDropListData]="i" class="preview-card cursor-move" *ngFor="let f of files; let i = index"
      cdkDrag>
      <app-file-preview [file]="f" (delete)="removeFile(i)" cdkDrag [cdkDragData]="i"
        (cdkDragEntered)="entered($event)">
      </app-file-preview>
    </div>
  </div>
</div>
