<ion-split-pane contentId="dashboard">
  <ion-menu contentId="dashboard" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menu</ion-list-header>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/dashboard/main']" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="'mail-outline'" [md]="'mail-sharp'"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/dashboard/header']" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="'mail-outline'" [md]="'mail-sharp'"></ion-icon>
            <ion-label>Header</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/dashboard/media-center']" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="'mail-outline'" [md]="'mail-sharp'"></ion-icon>
            <ion-label>Media Center</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="dashboard"></ion-router-outlet>
</ion-split-pane>
